.container-btn-create{
    position: relative;
}

.img-anonymous{
    width: 350px;
}

.create {
    width: 230px;
    height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Aldrich', sans-serif;
    /* text-shadow: 1px 1px rgb(0, 0, 0); */
    color: #fff;
    /* background: linear-gradient(90deg, rgb(0, 85, 110) 0%, rgb(29, 243, 222) 100%); */
    background: linear-gradient(90deg, #ffbc00 0%, #ff0058 100%);
    border: 6px solid rgb(255, 230, 2);
    border-radius: 50px;
    box-shadow: 0 0 30px 0 #ffbc00;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    position: relative;
    top: -40px;
    left: 60px;
    z-index: 50;
}

.create-container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 0, 0.9);
}


.create::before {
    content: '';
    border-radius: 50px;
    min-width: calc(230px);
    min-height: calc(60px);
    border: 6px solid rgb(255, 255, 255);
    box-shadow: 0 0 50px #ff0058;
    position: absolute;
    opacity: 0;
}


.create::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #ffbc00;
    position: absolute;
    z-index: -1;
    animation: ring 1.5s infinite;
}

.create:hover,
.create:focus {
    transform: translateY(20px);
}

.create:hover::before,
.create:focus::before {
    opacity: 1;
}

.create:hover::after,
.create:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

/* --------------- INICIO CODE BTN INPUT ELASTIC ---------------*/ /*BY IMMER*/

.input-elastic{
    
    text-align: start;
    position: relative;
    /* margin-bottom: -180px; */
    
}

.inp {
  position: relative;
  padding-top: 15px;
}

.inp .label {
  position: absolute;
  height: fit-content;
  top: 12px; /*Para mover el Label Gris Interno*/
  left: 0px; 
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp svg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 26px;
  fill: none;
}

.inp svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
}

.inp svg path d {
  transition: all 0.2s ease;
}

.inp .border {
  position: absolute;
  bottom: 0;
  left: 120px;
  height: 2px;
  right: 0;
  background: #c8ccd4;
}

.inp input {
  /* -webkit-appearance: none; */
  border: 0;
  font-family: inherit;
  margin: 25px 0px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
  padding: 0; /*Cursor parpadeante*/
}

.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-20px) scale(0.75); /*Controlar la distancia del label pequeño*/
}

.inp input:focus {
  background: none;
  outline: none;
}

.inp input:focus + span {
  color: #07f;
  transform: translateY(-20px) scale(0.75); /*Controlar la distancia del label pequeño*/
  transition-delay: 0.1s;
}

.inp input:focus + span + svg path {
  stroke: #07f;
  animation: elasticInput 0.4s ease forwards;
}

.inp input:focus + span + svg + .border {
  background: #07f;
}

.dribbble {
  position: fixed;
  right: 20px;
  bottom: 15px;
  transition: all 0.2s ease;
}

.dribbble span {
  font-size: 28px;
  color: #9098a9;
}

@-moz-keyframes elasticInput {
  50% {
    d: path("M2,2 C21,17 46,25 74,25 C102,25 118,25 120,25");
  }
}

@-webkit-keyframes elasticInput {
  50% {
    d: path("M2,2 C21,17 46,25 74,25 C102,25 118,25 120,25");
  }
}

@-o-keyframes elasticInput {
  50% {
    d: path("M2,2 C21,17 46,25 74,25 C102,25 118,25 120,25");
  }
}

@keyframes elasticInput {
  50% {
    d: path("M2,2 C21,17 46,25 74,25 C102,25 118,25 120,25");
  }
}

.label-birthady{
    /* color: #9098a9; */
    color: #000000;
}

/* --------------- FIN CODE BTN INPUT ELASTIC ---------------*/ /*BY IMMER*/